.principal-info-home{
    display: flex;
    background-color: white;


}
.info-home{

    width: 50vw;
    margin: auto;
    padding: 5vw;
    
}
.info-home-descricao{
    text-align: center;
    
}
.info-home-conteudo{
    display: flex;
    text-align: center;
    color: #000;
}
.info-home-conteudo p{
    font-size: 16px;
    color: #000;
    
}
.info-home-conteudo h2{
    font-size: 18px;
    color: #000;
    margin-bottom: 30px;
    
}
span{
    color: #2f86d6
}

.principal-info-home img{
    height: 80px;
    width: 80px px;
}
.conteudo-tabela{
    
}